<!DOCTYPE html>
<html>
 #set($spathcontext=${request.getContextPath()}) 
<head>
    #parse("header.vm")
</head>
<div class="modal-shiftfix">
#parse("navigation.vm")
<div class="container-fluid main-content">
<div class="row">
<td><input type="hidden" name="page" id="page" value="$!{page}"></td>
					<td><input type="hidden" name="count" id="count" value="$!{count}"></td>
					<td><input type="hidden" name="total" id="total" value="$!{total}"></td>
                <div class="col-md-12">
                    <!-- Advanced Tables -->
                    <div class="panel panel-default">
                        <!--<div class="panel-heading">
                             Advanced Tables
                        </div>-->
                        <div class="panel-body">
                            <div class="table-responsive">
								<a href="/bblq/admin/toaddalarmuser"><i class="icon-plus pull-right"></i></a>
                                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                    <thead>
                                        <tr>
                                            <th>编号</th>
                                            <th>名称</th>
                                            <th>手机号</th>
                                            <th>类型</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    #foreach($one in $list)
                                    <tr class="odd gradeX">
										<td>$!one.id</td>
										<td>$!one.name</td>
										<td>$!one.phone</td>
										<td>$!one.type</td>
									</tr>
        		    				#end                                                                               
                                    </tbody>
                                </table>
                            </div>
                            <div id="kkpager"></div>
                        </div>
                    </div><div>$!{errorinfo}</div>
                    <!--End Advanced Tables -->
                </div>
            </div>
</div><!-- row end -->
</div><!-- main-content end -->
<script type="text/javascript">
	var cpage = document.getElementById("page").value;
	var count = document.getElementById("count").value;
	var total = document.getElementById("total").value;
	var url=window.location.href;  
	var addr = url.substring(0,url.indexOf('bblq'));
//生成分页控件  
kkpager.generPageHtml({
    pno : cpage,
    mode : 'link', //可选，默认就是link
    //总页码  
    total : total,  
    //总数据条数  
    totalRecords : count,  
    //链接算法
    getLink : function(n){
        //这里是默认算法，算法适用于比如：
        if(n == 1){
            return addr+'bblq/admin/getalramusers?page='+n;
        }
        return addr+'bblq/admin/getalramusers?page='+n;
    }

});
</script>	
#include("foot.vm")